body {
    background-image: url("images/car.jpg");
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    opacity: 0.9;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

#right-side {
    display: flex;
    flex-direction: row;
    float: right;
}

.search-bar {
    border-radius: 30px;
}

.search-box {
    position: center;
    color: black;
    margin: 10px 0px 13px -1px;
    width: 150px;
    height: 30px;
}

.search-bar:hover > .search-box {
    width: 300px;
    caret-color:lightskyblue;
    transition: width 0.4s linear;
}

.display-4 {
    font-size: 45px;
}

.jumbotron {
    opacity: 0.9;
}